 <div class="container fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto about-style" id="aboutid">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">grow your Buisness</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero text ">
                        
                    </div>
                    
                    {{!--right side --}}
                    <div class="col-md-6 col-12 hero text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                        <h1>We are Proffesional </h1>
                        <h1>so Join with us</h1>
                        <p>So We are the team of Proffesional who help to built the website in less time and help others to perform well everywhere. <span class="bold-style"></span></p>
                        <button class="btn-style btn-primary">Read More</button>


                    </div>
                    
            </div>
                
            </div>
        </div>
    </div>